{% if ajax != true %}

{% if type %}
<div class="{{ type }}">
{% endif %}

<div class="replay_list">
{% endif %}

    {% if title %}
      <h2>{{ title }}</h2>
    {% endif %}

    <div class="view-item item-head">
      <p class="item-row title-h">Title</p>
      <p class="item-row saver-h" >Saver</p>
      <p class="item-row date-h">Upload date</p>
      <p class="item-row link">
        Detalis/Download
      </p>
    </div>

  {% for list in lists %}

    {% set len = list.link|length - 4 %}
    {% set viewLink = list.link|slice( 0 , len ) %}

    <div class="view-item">
      <a class="linked" href="/view/save/{{ viewLink }}">
        <span class="item-row title"> {{ list.title }} </span>
       <span class="item-row saver" > {{ list.saver  }}</span>
        <span class="item-row date">
          {{ list.date|date("m/d/Y") }}
         {{ list.date|date("H:m") }}
       </span>
      </a>

      <p class="item-row link">
        <a class="preview" href="/view/save/{{ viewLink }}" ><i class="fa fa-list"></i>Details</a>
        <a class="download" href="/download/replay/{{ list.link }}"><i class="fa fa-cloud-download"></i>Download</a>
      </p>
    </div>
  {% endfor %}

  {{ pagination|raw }}

{% if ajax == false %}
</div>

  {% if type %}
    </div> <!-- end {{ type }} -->
  {% endif %}

{% endif %}