<!doctype html>
<html class="no-js" lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ title }}</title>

  {#<meta name="viewport" content="initial-scale=1">#}
  <meta name="viewport" content="width=device-width">

  <meta name="description" content="dota replay parser">
  <meta name="keywords" content="warcraft,dota,games,savereplay{{ keywords }}">

  <link type="text/plain" rel="author" href="{{ url }}humans.txt" />

  {% for style in styles %}
    <link type="text/css" rel="stylesheet" href="{{ style }}" />
  {% endfor %}

</head>
<body {% if body_class %} class="{{ body_class }}" {% endif %}>


  {{ adminmenu|raw }}

  <div class="page">
    {% if user %}
      {% include 'panel/user_head.twig' with user %}
    {% endif %}

    <header>
      <a class="logo" href="{{ url }}">w3xSilverCloud</a>

      {% if nav %}
        {{ nav|raw }}
      {% endif %}

    </header> <!-- header -->

    {% if message %}
      {{ message|raw }}
    {% endif %}

    {% if submenu %}
      {{ submenu|raw }}
    {% endif %}

    <div class="region-content">

      {% if pagetitle %}
        <h1 class='page-title'>{{ pagetitle }}</h1>
      {% endif %}

      {{ content|raw }}
    </div> <!-- region-content -->
    <footer class="region-footer">
      <div class="footer-inner">
        <p>copyright 2014 by <a target="_blank" href="http://webpage-lab.com">Webpage-lab.com</a></p>
    {# {{ memory_usage }} / {{ elapsed_time }} #}
      </div>
    </footer> <!-- footer -->

  </div> <!-- page -->

  <div id="script" style="display: none; visibility: hidden;">
    <script type="text/javascript" src="http://code.jquery.com/jquery-2.0.2.min.js"></script>
    <script>
      $('html').removeClass('no-js').addClass('js');
    </script>
    {% if jsplugin %}
      {% for js in jsplugin %}
        <script type="text/javascript" src="{{ js }}"></script>
      {% endfor %}
    {% endif %}
    <script type="text/javascript" src="/script/api.js"></script>
    {{ analitics|raw }}
  </div>



</body>
</html>