
{{ krumo(replay) }}

{% set unknow = 'n/a' %}

<div class="save-previe">

  <div class="title">
    <h2>{{ replay.extra['title'] }}</h2>
  </div>

<!-- host -->
  <div class="host">
    Host:
    {% if replay.game['creator'] %}
      {{ replay.game['creator']  }}
    {% else %}
     {{ unknow }}
    {% endif %}
  </div> <!-- /host -->

  <div class="saver">
    Saver:
    {% if replay.game['saver_name'] %}
      {{ replay.game['saver_name'] }}
    {% else %}
      {{ unknow }}
    {% endif %}
    {#'.(isset($replay->game['saver_name']) ? $replay->game['saver_name'] : "n/a")#}
  </div> <!-- /saver -->

  <div class="player-number">
    Players:
    {% if replay.game['player_count'] %}
      {{ replay.game['player_count'] }}
    {% else %}
      {{ unknow }}
    {% endif %}

  </div> <!-- /player-number -->


  <div class="version">
    Version: 1.{{ sprintf('%02d' , replay.header['major_v']) }}
  </div> <!-- /version -->

  <div class="game_duration">
    Game duration: {{ convert_time(replay.header['length'] ) }}
  </div> <!-- game_duration -->

  <div class="observer">
    Observers: {{ replay.game['observers'] }}
  </div> <!-- observer -->

  <div class="maps">
    Map: {{ replay.game['map'] }}
  </div> <!-- /maps -->

  <div class="winner">
    Winner: {{ replay.extra['winner'] }}
  </div> <!-- winner -->

  <div class="download">
    Download: <i class="fa fa-cloud-download"></i><a href="/replay/{{ file }}.w3g">Download</a>
  </div>


  <!-- ban list -->
  {% if( replay.bans_num > 0 ) %}
  <div class="bans">
    hero baned: {{ replay.bans_num }}

    <div class="ban_list">
      <p>bans:</p>
      {% for hero in replay.bans %}
        {{ hero.extra == 0 ? 'sentinel' : 'scourge' }}
        <img src="/{{ hero.getArt() }}" alt="Hero" title="{{ hero.getName() }}" />
      {% endfor %}
    </div> <!-- ban list -->

    <!-- pick list -->
    <div class="pick_list">
      <p>Picks</p>
      {% for hero in replay.picks %}
        {{ hero.extra == 0 ? 'sentinel' : 'scourge' }}
        <img src="/{{ hero.getArt() }}" alt="hero" title="{{ hero.getName() }}" />
      {% endfor %}
    </div>
    <!-- /pick list -->

  </div> <!-- bans -->
  {% endif %}
  <!-- end bans -->


  <div class="teams">
    {% for i in 0..1 %}
      {% set team = i == 0 ? 'Sentinel' : 'Scourge' %}
      <div class="teams-row">
        <h4>{{ team }}</h4>

        {% for key, player in replay.teams[i] %}

          {% if replay.ActivatedHeroes %}
            {% set t_heroName = replay.stats[player['dota_id']].getHero().getName() %}
            {{ t_heroName }}
          {% endif %}

        {% endfor %}
      </div> <!-- teams-row -->

    {% endfor %}
  </div> <!-- /teams -->


</div>

