{{ krumo(replay) }}

<div class="replay-details">

  <div class="game-info">
    <h2>{{ replay.title }}</h2>

    <div class="left-content">
      <p>Host: {{ replay.game_host }}</p>
      <p>Players: {{ replay.player_count }}</p>
      <p>Game duration: {{ replay.time }}</p>
      <p>Map: {{ replay.map }}</p>
      <p>Winner: {{ replay.winner }}</p>
    </div> <!-- left-content -->

    <div class="right-content">
      <p>Saver: {{ replay.game_saver }}</p>
      <p>Version: {{ replay.version }}</p>
      <p>Observers: {{ replay.game_observer }}</p>
    </div> <!-- right-content -->
  </div> <!-- game-info -->

{# bans #}
  {% if replay.bans %}
    <div class="bans">
      <h2>Bans</h2>
      <div class="content">
        {% for baned in replay.bans %}
          <img src="/{{ baned.src }}" title="{{ baned.name }}" alt="{{ baned.name }}" class="{{ baned.team }}" >
        {% endfor %}
      </div>
    </div>
  {% endif %}

{# picks #}
  {% if replay.picks %}
    <div class="picks">
      <h2>Picks</h2>
      <div class="content">
        {% for picks in replay.picks %}
          <img src="/{{ picks.src }}" title="{{ picks.name }}" alt="{{ picks.name }}" class="{{ picks.team }}">
        {% endfor %}
      </div>
    </div> <!-- picks -->
  {% endif %}


  <!-- team -->

  <div class="teams">
    <h2>Teams</h2>

    <div class="content">
      {% for key , team in replay.teams %}

        {% if key == 0 %}
          <h4>Sentinel</h4>
        {% else %}
          <h4>Scourge</h4>
        {% endif %}

        {% for player in team %}

          <div class="player">

            <div class="basic_info">

              <div class="hero">
                <img src="/{{ player.image }}" title="{{ player.hero_name }}" alt="{{ player.hero_name }}" >
                <span class="lvl">Lvl: {{ player.level }}</span>
              </div> <!--hero-->

              <span>{{ player.player_name }}</span>

              <span class="apm">APM: {{ player.apm }}</span>
              <span class="kda">
                K/D/A :
                {{ player.stat_hero.kills }} /
                {{ player.stat_hero.deaths }} /
                {{ player.stat_hero.assists }}
              </span> <!-- kda -->

              <span class="cs">
                creep kills/denies/neutrals:
                {{ player.stat_creep.kills }}
                {{ player.stat_creep.denies }}
                {{ player.stat_creep.neutrals }}
              </span><!-- cs -->

              <a class="show-more" href="javascript:;">Show more</a>

            </div> <!-- basic_info  -->

            <div class="more-info">

              <div class="inventory">
                {% for inventory in player.inventory %}
                  <img src="/{{ inventory.src }}" title="{{ inventory.name }}" alt="{{ inventory.name }}" />
                {% endfor %}
              </div> <!-- inventory -->

              <div class="player-game-stat">
                <p>Game duration: {{ player.leaveTime }}</p>
                <p class="{{ player.leaveReason }}">Game status: {{ player.leaveReason }} </p>
                {# {{ krumo('save_prev.twig / line: 105') }} #}
              </div>

            </div> <!-- more-info -->

          </div> <!-- player -->

        {% endfor %}

      {% endfor %}
    </div> <!-- content -->


  </div> <!-- teams -->



</div> <!--